body {
    color:rgba(253, 7, 7, 0.479);
    background: black;
    margen;Opx;
    font-family: "Playfair Display", serif;
}
head{
    border-bottom:solid 2px blanchedalmond ;
    padding: 20px;
    font-size: 32px;
    color: red
}